<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include partials/header.ejs %>
    <div id="wrap">
    <div class="container">
       <br />
    <font color="#000">
  <div class="jumbotron">
    <div class="card" style="width: 105rem;">
    <h3>Welcome to the <%= title %></h3>
      <div class="row text-center">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
      <img class="img-responsive  img-thumbnail" src="images/eko.jpg" style="width:300px;height:300px;" />
      <br/><br/>
      </div>
      <br><br>
   <div class="card-body">
    <p class="card-text">Hi, my name is Mar Jerico Lagmay, this is my third semester as a software engineering student at Centennial College right now. I am familiar with HTML,
     I'm familiar with frameworks like Bootstrap, Foundation, and Materialize CSS, as well as CSS, Javascript, and PHP.
     Consider looking at mobile application development as it relates to web design and development.</p>
    </div>
   </div>

    </font>
  </div>

</div>
