<% include ./partials/header.ejs %>

<div id="wrap">
<div class="container">
  <br />
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive img-square img-thumbnail" src="/images/6.png" style="width:230px;height:270px;" title="Mar" />
   
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <div class="jumbotron">
    <font color="#263238">
    <h3> <%= title %></h3>
    <p><%= message %></p>
    </font>
  </div>
  </div>
</div>
</div>
