<% include partials/header.ejs %>

<div class="container">
  <br />
  <div class="jumbotron">
    <font color="#263238">
  <h3>Welcome to the <%= title %></h3>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="images/lottery.jpg" style="width:400px;height:228px;" />
        <br /><br />
        <h4>CREATED LOTTERY ROLL PROGRAM IN JAVA</h4>
        
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/bug.jpg" style="width:400px;height:228px;" />
        <br /><br />
       <h4>CREATED BUG SMASHER GAME IN WEB DEVELOPMENT</h4>
        
      </div>
    </div>
    <br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/prime.jpg" style="width:400px;height:228px;" />
        <br /><br />
       
        <h4>CREATED A PRIME MINISTER PROFILE IN C#</h4>
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/hand.jpg" style="width:400px;height:228px;" />
        <br /><br />
         <h4>CREATED A SHIPPING AND BILLING ADDRESS USING HTML AND JAVASCRIPT</h4>
        
      </div>
    </div>
    </font>
  </div>
  </div>

<% include partials/footer.ejs %>
