<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <% include partials/header.ejs %>
   
<body>
    <div class="container">
  <br />
  <div class="jumbotron">
    <font color="#263238">
  <h3>Welcome to the <%= title %></h3>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="images/2.png" style="width:400px;height:228px;" />
        <br /><br />
     
        
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/1.png" style="width:400px;height:228px;" />
        <br /><br />
       
        
      </div>
    </div>
    <br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/3.png" style="width:400px;height:228px;" />
        <br /><br />
       
        
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/4.jpg" style="width:400px;height:228px;" />
        <br /><br />
        
        
      </div>
    </div>
    </font>
  </div>
  </div>
   
  </body>

</html>